doctype html
html
    head
        title   Ax-DanceAcademy.com
        block   scripts
            script(src="")
        block   style
    body
        div#navbar
            spam#logo   #[img(src="../static/img/logo.png", alt="")]
            spam.item   #[a(href="/")   Home]
            spam.item   #[a(href="/")   Services]
            spam.item   #[a(href="/")   About Us]
            spam.item   #[a(href="/contact")   Contact Us]
        block content
        block foot
        footer#footer
            |   Copyright 2020 ©Ax-DanceAcademy.com
        script
            include ../static/index.js