extends base.pug

block   scripts
    script(src="../static/index.js")
block   style
    style
        include ../static/style.css
block   content
    div#main
        div#heading
            h1  Welcome to our Ax-54 Academy
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum culpa error eius.
    div#sponsors
        h2#s-slo  OUR SPONOSORS
        div#sponsors-img
            img(src="../static/img/logo1.png", alt="Our Sponsors" class="logo" id="logo1")
            img(src="../static/img/logo2.png", alt="Our Sponsors" class="logo" id="logo2")
            img(src="../static/img/logo3.png", alt="Our Sponsors" class="logo" id="logo3")
            <img src="../static/img/logo4.png" alt="Our Sponsors" class="logo" id="logo4" style="width: 8%;">